<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="file" class="org.apache.log4j.FileAppender">
	   <param name="file" value="d://logs/myapp.log"/>
	   <param name="immediateFlush" value="true"/>
	   <param name="threshold" value="debug"/>
	   <param name="append" value="false"/>
	   <layout class="org.apache.log4j.PatternLayout">
	      <param name="conversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.core">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.context">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.http">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.web">
		<level value="warn" />
	</logger>
	
	<logger name="com.ponleu.shopcommerce">
		<level value="trace"/>
	</logger>
	
	<logger name="org.hibernate.type">
		<level value="trace"/>
	</logger>
	
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>