<div class="container-dash" ng-controller="DashboardController">
	<section class="content-header">
		<div class="row">
		  	<div class="col-md-12">
				<a href="#!/products/addNew" class="btn btn-app bg-green">
					<i class="fa fa-cart-plus"></i> Add Product
				</a>
			</div>
	  	</div>
	</section>
	
	<section class="content">
	  <div class="row">
		<div class="col-md-12">
          	<div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">Recent Orders</h3>
	
	              <div class="box-tools pull-right">
	                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-link"></i></button>
	              </div>
	            </div>
	            <div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">
								<strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
							</p>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<div class="description-block border-right">
									<h5 class="description-header">$35,210.43</h5>
									<span class="description-text">TOTAL ORDER THIS MONTH</span>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
      </div>
      </div>
	</section>
</div>