<div class="container-dash" ng-controller="ProductListController">
	<div class="box no-border">
		<div class="box-header with-border">
			<form class="form-horizontal">	
				<div class="col-md-4">
					<div class="input-group">
		                <input ng-model="data.search" type="text" class="form-control" ng-change="events.reloadProduct()">
	                    <span class="input-group-btn">
	                      <button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
	                    </span>
              		</div>
              	</div>
             		<div class="col-md-4">
             			<a href="#!products/addNew" class="btn btn-info btn-pill">
						<i class="fa fa-plus"></i> <span translate="button.addProduct"></span>
					</a>
             		</div>
			</form>
		</div>
	</div>
	<!-- <section class="content-header">
	  	<h4>Product List</h4>
	</section> -->

	<section class="content">
		<ul angular-grid="data.products" ag-grid-width="220">
			<li data-ng-repeat="pro in data.products" class="grid" ng-click="events.viewProductDetail(pro)">
				<span class="grid-label">
					<span class="badge bg-red">{{pro.category.categoryName}}</span>
				</span>
				<img ng-src="images/products/{{pro.imageName}}" class="grid-img">
				<div class="grid-description">
					<div class="product-name"><strong>({{pro.id}})-{{pro.productName}}</strong></div>
				</div>
			</li>
		</ul>
		<div class="row">
			<div class="col-xs-12">
				<ul uib-pagination total-items="pagingConfig.total" items-per-page="pagingConfig.pageSize" ng-model="pagingConfig.page" ng-change="events.pageChanged()"></ul>
			</div>
		</div>
	</section>
</div>