<div class="container-dash" ng-controller="NewProductController">
	<section class="content-header">
	  	<h4 translate="header.addProduct"></h4>
	</section>
	<section class="content">
		<form name="frmNewProduct" ng-submit="events.submitSave(frmNewProduct.$valid)" novalidate="novalidate"> 
			<div class="box box-info">
				<div class="box-body">
					<div class="form-group">
						<label for="productName" translate="label.productName"></label> 
						<input name="productName" ng-model="product.productName" id="productName" required="required" type="text" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="categoryId"> <span translate="label.category"></span>
									<a ng-click="events.addCategory()" class="btn btn-xs btn-link" href="javascript:void(0);" class="pull-right"> 
										<i class="fa fa-plus"></i>
									</a> 
								</label> 
								<ui-select ng-model="product.category" theme="bootstrap" ng-required>
					            	<ui-select-match placeholder="">{{$select.selected.categoryName}}</ui-select-match>
					            	<ui-select-choices repeat="category in data.config.categories | filter: $select.search">
					              		<div ng-bind-html="category.categoryName"></div>
					            	</ui-select-choices>
					          	</ui-select>
							</div>
							<div class="form-group">
								<label for="attributes"> <span translate="label.attribute"></span>
									<a ng-click="events.addAttribute()" class="btn btn-xs btn-link" href="javascript:void(0);" class="pull-right"> 
										<i class="fa fa-plus"></i>
									</a>
								</label>
								<ui-select ng-model="product.attributes" theme="bootstrap" multiple required>
					            	<ui-select-match placeholder="">{{$item.attributeName}} ({{$item.unit}})</ui-select-match>
					            	<ui-select-choices repeat="attr in data.config.attributes | filter: $select.search">
					              		<div ng-bind-html="attr.attributeName"></div> (<span ng-bind-html="attr.unit"></span>)
					            	</ui-select-choices>
					          	</ui-select>
							</div>
							<div class="form-group">
								<label for="productDescription" translate="label.description"></label> 
								<textarea name="productDescription" ng-model="product.productDescription" id="productDescription" rows="3" class="form-control"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="imageName" translate="label.image"></label> 
								<input name="imageName" id="imageName" ng-model="product.imageName" ng-model-data="product.imageFileBase64" input-img-preview="preview-image" accept="image/*" type="file" class="form-control">
							</div>
							<div class="form-group" style="max-width:200px;max-height:200px;">
								<img id="preview-image" src="" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="button" onclick="history.go(-1)" class="btn btn-success btn-sm btn-pill">
						<small><i class="fa fa-arrow-left"></i></small> <span translate="button.cancel"></span>
					</button>
					<button type="submit" class="btn btn-success btn-sm btn-pill">
						<small><i class="fa fa-save"></i></small> <span translate="button.save"></span> 
					</button>
				</div>
			</div>
		</form>
	</section>
</div>