<div class="container-dash" ng-controller="OrderCheckoutCustomerController">
	<form name="frmCustomerInfo" ng-submit="events.nextStep(frmCustomerInfo.$valid)" novalidate="novalidate">
		<section class="content-header">Order Checkout Customer</section>
		<section class="content">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="form-group col-md-6">
							<div class="checkbox">
		                      	<label>
		                        	<input name="isReturned" ng-model="customer.isReturned" ng-change="events.returnedCustChanged()" type="checkbox"> This is returned customer
		                      	</label>
		  					</div>
						</div>
					</div>
					<div class="row" ng-show="customer.isReturned">
						<div class="form-group col-md-6 with-border">
		                  	<label for="customerName">Search</label>
		                  	<ui-select ng-model="customer.id" theme="bootstrap" on-select="events.returnCustomerSelected($item, $model)">
				            	<ui-select-match placeholder="Search">
				            		{{$select.selected.customerName}}, {{$select.selected.contact}}
				            	</ui-select-match>
				            	<ui-select-choices repeat="cust.id as cust in data.config.customers" 
				            		refresh="events.searchCustomer($select.search)" refresh-delay="500">
				              		<div ng-bind-html="cust.customerName"></div>
				              		<p ng-bind-html="cust.address"></p>
				            	</ui-select-choices>
				          	</ui-select>
		                </div>
		                <hr>
		         	</div>
					<div class="row">
						<div class="form-group col-md-6">
		                  <label for="customerName">Customer name</label>
		                  <input name="customerName" ng-model="customer.customerName" id="customerName" type="text" class="form-control" placeholder="Customer name" required="required" maxlength="128">
		                </div>
		                <div class="form-group col-md-6">
		                  <label for="contact">Contact</label>
		                  <input name="contact" ng-model="customer.contact" id="contact" type="text" class="form-control" placeholder="Contact" required="required" maxlength="27">
		                </div>
		                <div class="form-group col-md-12">
		                  <label for="address">Address</label>
		                  <input name="address" ng-model="customer.address" id="address" type="text" class="form-control" placeholder="Address" maxlength="254">
		                </div>
		            </div>  
				</div>
				<div class="box-footer">
					<button type="button" onclick="history.go(-1)" class="btn btn-success"> <i class="fa fa-chevron-left"></i> Back</button>
					<button type="button" ng-click="events.clearForm(true)" class="btn btn-warning">Clear <i class="fa fa-refresh"></i></button>
					<button type="submit" class="btn btn-success">Save & Next <i class="fa fa-chevron-right"></i></button>
				</div>
			</div>
		</section>
	</form>
</div>
