<div class="container-dash" ng-controller="OrderCartController">
	<section class="content-header">
	  	<h4>New Product</h4>
	</section>
	<section class="content">
		<div class="box box-info">
			<div class="box-body">
				<div class="row" ng-hide="products.length">
					<div class="col-xs-12">No product in cart yet</div>
				</div>
				<div class="row product-list" ng-repeat="pro in products">
					<div class="col-xs-2 col-lg-1">
						<div class="product-image">
							<img ng-src="images/products/{{pro.imageName}}" class="img-responsive">
						</div>
					</div>
					<div class="col-xs-10 col-lg-11">
						<span class="badge bg-red pull-right" ng-click="events.removeProduct($index)"><i class="fa fa-remove"></i></span>
						<strong ng-cloack>{{pro.productName}}</strong>
						<p ng-bind-html="pro.productDescription"></p>
						<span class="badge bg-blue" ng-repeat="attr in pro.attributes" style="margin-right:5px;">
							{{attr.id.attribute.attributeName}}
						</span>
						<hr>
					</div>
					
				</div>
			</div>
			<div class="box-footer">
				<a href="#!orders/checkout/customer" class="btn btn-success"><i class="fa fa-money"></i> Checkout</a>
			</div>
		</div>
	</section>
</div>
